<h1>About Me</h1>
<div id="pic">
    <img src="../assets/good-PORTRAIT.jpg" alt="pic of me" width="100%">
</div>
<div id="aboutMe">
    <h3>Growth minded generalist with a high interest in providing students with a wider range of opportunities to experience and engage in applications of mathematics and complex problem solving.</h3>
</div>
<div id="techList">
    <h3>Technological Skills</h3>
    <ul>
        <li>Intermediate level IT technician </li>
        <li>Project Management</li>
        <li>Innovative</li>
        <li>Complex Problem Solver</li>
        <li>Creative Design</li>
        <li>Provide a high level of support</li>
    </ul>
</div>
