

.navBar {
    display: inline;
    margin: 10px auto;
    color: #f0f0f0;
    

}
nav {
    text-align: right;
    padding: 15px;
    margin: 10px;
    border: 6px double #f0f0f0;
    background-color: #4c4b63;
    color: #f0f0f0;
}